# Dependency directories (DO NOT upload these)
node_modules/
jspm_packages/

# Environment variables (Crucial for security)
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs (Coverage)
coverage/
.nyc_output

# IDE / Editor folders (Optional but recommended)
.vscode/
.idea/
.DS_Store